body {
    direction: rtl;
    background:url('back.jpg') fixed;
}

#wrapper {
    width: 960px;
    background-color: lightgray;
    margin: 0 auto;
    overflow: auto;
}

#header {
    height: 200px;
    margin: 5px;
}

#nav {
    margin: 5px;
}

#sidebar {
    width: 220px;
    background-color: maroon;
    height: 600px;
    margin: 5px;
    float: right;
    margin-top: 0;
}

#content {
    width: 725px;
    margin: 5px;
    margin-top: 0;
    margin-right: 0;
    background-color: orange;
    height: 600px;
    float: right;
}

.clear {
    clear: both;
}

#footer {
    height: 100px;
    background-color: black;
}

#logo {
    width: 190px;
    height: 190px;
    margin: 5px;
    float: left;
}

ul {
    list-style-type: none;
    background-color: #E0F0FF;
    padding: 0;
    font-family: 'B Yekan';
    font-size: 18px;
    line-height: 40px;
    margin:0;
    border-bottom: 1px solid #444;
    border-top: 1px solid #666;
}

li {
    float: right;
    width: 100px;
}

a {
    text-decoration: none;
    color: #333333;
    display: block;
    padding: 0 10px;
    text-align: center;
}
a:hover {
    color: #ADFF2F;
    background-color: #AAAAAA;
}
